#a {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px;
  border: 1px solid black;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 15px;
}
#controls label {
  width: 200px;
}
#controls input {
  display: block;
  width: 99%;
}
